body {
  background: #282c34;
}

.HexGrid {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.HexRow {
  display: inherit;
  flex-direction: row;
}

.HexCol {
  display: inherit;
  flex-direction: column;
}