* {
  margin: 0;
  padding: 0;
}

body {
  background: #263238;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.gridContainer {
  width: 66vw;
  padding-bottom: 1.15470053838vw;
}

.sidePanelContainer {
  width: 32.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw 1vh .5vw;
}

.summarySectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.hex {
  margin-bottom: -1.35vw;
}

.hex:nth-child(32n + 17) {
  margin-left: 2vw;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}


/* HEX V5 */



.hexStrokeBackground {
  stroke: black;
}

.hexStrokeWhite {
  stroke: white;
}

.hexStrokeCyan {
  stroke: #00ffff;
}

.hexStrokeFuscia {
  stroke: #ff00ff;
}

.hexStrokeCrimson {
  stroke: #dc143c;
}

.white {
  color: white;
}

.hexSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexSP {
  margin-bottom: -75%;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.dataPadding {
  margin: 0.5vw;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.button {
  color: white;
  border-radius: 0.75vw;
  margin: 0.45vw;
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.cancelColor {
  background-color: #f44336;
}

.cancelColorH:hover {
  background-color: #b9352b;
}

.confirmColor {
  background-color: #4caf50;
}

.confirmColorH:hover {
  background-color: rgb(59, 138, 61);
}

.disabled {
  opacity: 0.5;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nationButton {
  border: 0.25vw solid;
  width: 100%;
}

.nationInfoContainer {
  margin: 0.45vw;
  border: 0.25vw solid;
  border-radius: 0.75vw;
  padding: 0 0.45vw 0.45vw 0.45vw;
}

.borderWhite {
  border-color: white;
}

.borderCyan {
  border-color: #00ffff;
}

.borderFucia {
  border-color: #ff00ff;
}

.borderCrimson {
  border-color: #dc143c;
}

.borderBlack {
  border-color: black;
}

.colorBlack {
  color: black;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.hidden {
  display: none;
}

.productionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -0.5em;
}

.colorGreen {
  color: #4caf50;
}

.colorRed {
  color: #f44336;
}

.inputNumber {
  width: 100%;
  flex-grow: 5;
  flex-shrink: 1;
  background: none;
  color: white;
  font-size: 2em;
  display: block;
  font-size: 2em;
  font-weight: bold;
  border: none;
  outline: none;
  border-bottom: 0.25vw solid white;
  text-align: right;
}

.acceptButton {
  flex-grow: 1;
  flex-shrink: 1;
  background: #4caf50;
}

.hexColorPlains {
  fill: #4caf50;
}

.hexColorHills {
  fill: #795548;
}

.hexColorForest {
  fill: darkgreen;
}

.hexColorLake {
  fill: #50a6c2;
}

.hexColorDesert {
  fill: sandybrown;
}

.hexColorWetlands {
  fill: darkolivegreen;
}