* {
  margin: 0;
  padding: 0;
}

body {
  background: #263238;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* HEX V5 */

#grid {
  width: 65%;
  margin-left: .5vw;
  margin-top: .5vw;
}

.hex {
  margin-bottom: -3%;
}

.hex:nth-child(20n + 11) {
  margin-left: 4.75%;
}

.hexStyle {
  stroke-width: 5%;
}

.hexStrokeBackground {
  stroke: black;
}

.hexStrokeWhite {
  stroke: white;
}

.hexStrokeCyan {
  stroke: #00FFFF;
}

.hexStrokeFuscia {
  stroke:	#FF00FF;
}

.hexStrokeCrimson {
  stroke: #DC143C;
}

.hexColorGreen {
  fill: #4CAF50;
}

.hexColorBrown {
  fill: #795548;
}

.hexColorBlue {
  fill: #50A6C2;
}

.white {
  color: white
}

.hexSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexSP {
  margin-bottom: -75%;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.dataPadding {
  margin: .5vw;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.button {
  color: white;
  border-radius: .75vw;
  margin: .45vw;
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.cancelColor {
  background-color: #f44336;
}

.cancelColorH:hover {
  background-color: #b9352b;
}

.confirmColor {
  background-color: #4CAF50;
}

.confirmColorH:hover {
  background-color: rgb(59, 138, 61);
}

.disabled {
  opacity: .5;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nationButton {
  border: .25vw solid;
  width: 100%;
}

.nationInfoContainer {
  margin: .45vw;
  border: .25vw solid;
  border-radius: .75vw;
  padding: 0 .45vw .45vw .45vw;
}

.borderWhite {
  border-color: white;
}

.borderCyan {
  border-color: #00FFFF;
}

.borderFucia {
  border-color: #FF00FF;
}

.borderCrimson {
  border-color: #DC143C;
}

.borderBlack {
  border-color: black;
}

.colorBlack {
  color: black;
}

.unselectable { 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}