.hex {
    color: #6C6; 
    flex: 1 1 auto;
    font-size: 10vw;
    margin: -50px -10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
